body{
    background-color: #363946;
}
h1{
    color: black;
}
h1:hover{
    background:#000000;
    color: white;
    box-shadow:0 5px 0 #090f49;
}
p{
    background-color: #363946;
    color: black;
}
p:hover{
    background:#000000;
    color: white;
    box-shadow:0 5px 0 #090f49;
}
header{
    background: linear-gradient(0, #120c56, #000000);
  }
footer{
    width: 100%;
    margin: auto;
    bottom: 0;
    position: fixed;
    color: #011269;
    background-color: #000000;
    }
.btn{
    font-family: arial;
    font-size:14px;
    font-weight:700;
    text-transform: uppercase;
    border:none;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    margin-right: 50%;
    margin-top: 2%;
  }
  .btn-colored{
    color: white;
    box-shadow:0 5px 0 #011269;
    background-color: black;
  }
  .btn-colored:hover{
    box-shadow:0 5px 0 #090f49;
    background-color: white;
    color:#000000;
  }