:root{
    font-size: 100%;
}
html, body {
    margin: 0;
    padding: 0;
  }
h1{
  color: white;
  top: 0;
  font-size: smaller;
  box-shadow:0 5px 0 #041775;
  position: absolute;
  top: 1162px;
  width: 104.8%;
}
.coluna{
    float: left;
    width: 50%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
div.container4 {
    height: 10em;
    position: relative;
}
div.container4 img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#texto_1 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 900;
    position: absolute;
    font-size: 32px;
    left: 175px;
    top: 165px;
    color: white;
    box-shadow:0 5px 0 #b9c2ee;
    background-color: red;
  }
#texto_1:hover{
  background-color: black;
  box-shadow:0 5px 0 #090f49;
}
#texto_2 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 900;
    position: absolute;
    font-size: 32px;
    left: 940px;
    top: 165px;
    color: white;
    box-shadow:0 5px 0 #b9c2ee;
    background-color: black;
  } 
#texto_2:hover{
    box-shadow:0 5px 0 #090f49;
    background-color: red;
  }
#texto_3 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 900;
    position: absolute;
    font-size: 32px;
    left: 240px;
    top: 850px;
    color: white;
    box-shadow:0 5px 0 #b9c2ee;
    background-color: black;
  } 
#texto_3:hover{
  box-shadow:0 5px 0 #090f49;
  background-color: red;
  }
#texto_4 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 900;
    position: absolute;
    font-size: 32px;
    left: 815px;
    top: 850px;
    color: white;
    box-shadow:0 5px 0 #b9c2ee;
    background-color: red;
  }
  #texto_4:hover{
    box-shadow:0 5px 0 #090f49;
    background-color: black;
  }