h1{
    background-color: rgb(0, 255, 200);
    text-align: center;
    color: black;
    box-shadow:0 5px 5px #64ee6b;
}
h1:hover{
    background:#000000;
    color: white;
    box-shadow:0 5px 0 #090f49;
}
img{
    position: relative;
    left: 40%;
}
p{
    background-color: white;
    text-align: center;
    color: black;
    box-shadow:0 5px 0 #b9c2ee;
}
p:hover{
    background:#000000;
    color: white;
    box-shadow:0 5px 0 #090f49;
}
div.container4 {
    height: 0em;
    position: relative;
}
div.container4 img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.configure-copyright{
    color: black;
    font-size: smaller;
    box-shadow:0 5px 0 #041775;
    position: absolute;
    top: 617.5px;
}